*.o
main








































ur web deploy settings 
ords) will be unencrypted





 Restore



egenerated when needed

e files






































file
t needed,













































